<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <title>Dashboard</title>
</head>
<body>
    <div id = "navbar">
        <h1 id = "nav-title">>VisionBoard<</h1>
        <div id = "nav-links">
            <a href = "#" class = "nav-buttons" onmouseover = "hoverLinks(this)" onmouseout = "hoverLinks(this)">About Us</a>
            <a href = "#" class = "nav-buttons" onmouseover = "hoverLinks(this)" onmouseout = "hoverLinks(this)">Resources</a>
            <a href = "/ltg/form" class = "nav-buttons" onmouseover = "hoverLinks(this)" onmouseout = "hoverLinks(this)">Add LTG</a>
            <a href = "/logout" class = "nav-buttons" onmouseover = "hoverLinks(this)" onmouseout = "hoverLinks(this)">Log Out</a>
        </div>
    </div>
    <!--! Ideas for left-col are a side nav, or other users for interaction -->
    <div id="container">
        <!--! mid-col is left-col now -->
        <div id="mid-col">
            {% if user.long_term_goals[0]['title'] == None %}
                <h3>Click <a href="/ltg/form">here</a> to add a Long Term Goal (LTG)</h3>
            {% else %}
                {% for ltg in user.long_term_goals %}
                    <div class="full-card">
                        <div class="ltg-card" onmouseover = "hoverText(this)" onmouseout = "hoverText(this)" onclick="navigateToRoute(`{{ltg.id}}`)">
                            <img src="{{ url_for('static', filename='uploads/' ~ ltg.image) }}" alt="LTG Image" class="ltg-images">
                            <h4>{{ ltg.title }}</h4>
                            <p>{{ ltg.goal_date }}</p>
                            <p>Complete: {{ ltg.is_complete }}</p>
                        </div>
                        <div id="btn-div">
                            <a href="/add_stg/{{ltg.id}}"><button class="submit">Add Short Term Goals</button></a>
                            <a href="/view/all/{{ltg.id}}"><button class="submit">Short Term Goals</button></a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <!--? Need ideas for the right-col -->
        <div id="right-col">
            
        </div>
    </div>
</body>
</html>