<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <title>Login</title>
</head>
<body>
    <div id = "navbar">
        <h1 id = "nav-title">>VisionBoard<</h1>
        <div id = "nav-links">
            <a href = "#" class = "nav-buttons" onmouseover = "hoverLinks(this)" onmouseout = "hoverText(this)">About Us</a>
            <a href = "#" class = "nav-buttons" onmouseover = "hoverLinks(this)" onmouseout = "hoverText(this)">Resources</a>
            <a href = "/" class = "nav-buttons" onmouseover = "hoverLinks(this)" onmouseout = "hoverText(this)">Sign Up</a>
        </div>
    </div>
    <div id = "reg-container">
        <div id="left-col">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p id = "errors">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %} 
            <h2 class = "reg-header">Login Below</h2>
            <div class = "form-card">
                <form action = "/login" method = "post">
                    <div>
                        <label for = "username">
                            <input type = "text" name = "username" class = "inputs" placeholder = "Username">
                        </label>
                    </div>
                    <div>
                        <label for = "password">
                            <input type = "password" name = "password" class = "inputs" placeholder = "Password">
                        </label>
                    </div>
                    <input type="submit" value="Login" id = "submit">
                </form>
            </div>
        </div>
    </div>
</body>
</html>